// Main Sass File

//General//
body{
  background: #0A0A0A;
  font-family: 'Vollkorn',-apple-system,BlinkMacSystemFont,Georgia,'Times New Roman',Times,serif;
  color: #fff;
  font-weight: 400;
}

.container{
  width: 60%;
}

.nopadding{
  padding: 0!important;
}

.section-title{
  font-size: 30px;
  line-height: 45px;
}

a{
  color: #ffff33;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #666;
  width: 100%;
}

img{
  height: auto;
  display: block;
}

img:hover {
}

//Header//
header {

  #mainHeader{
  border-bottom: 3px double #ccc;
  }

  h1{
  font-size: 47px;
  line-height: 70px;
  color: red;
  }

  p{
    font-size: 30px;
    line-height: 44px;
    color: #ccc;
  }
}

//Selected Works//

#selected-works{

  .container{
  border-bottom: 1px solid #ccc;
  }

  ul{
    list-style-position: inside;
  }
  li{
    font-size: 24px;
    line-height: 36px;
    margin-top: 13px;
  }
}

//Photography//

#photography{
  .container{
  border-bottom: 1px solid #ccc;
  }
}

img{
  -webkit-transition:  1s; /* Safari */
    transition: opacity 1s;
}

img:hover{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

//Footer//
footer{
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #works{

      li{
        font-size: 14px;
        }
    }
    footer{text-align: center;}
}
